@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900');

/* ------------------------------
GENERAL
------------------------------ */

body {
	margin: 0;
	padding: 0;
	width: 100%;
	background: #fefefe;
	color: #4a4e4f;
	font-size: 16px;
	line-height: 1.8em;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5 {font-weight: 400; line-height: 1.3em;}
ul li, dl, li, p {margin: 0 0 10px; font-size: 16px; font-weight: 300; color: #464849;}
a, a:link, a:visited, a:active {color: #0288b9; text-decoration: none; transition: all .5s ease;}
a:hover {color: #0178a4; text-decoration: none;}

::-moz-selection {background-color: #0288b9; color: #ffffff;}
::selection {background-color: #0288b9; color: #ffffff;}

.container {
	display: inherit;
	margin: 0 auto;
	padding: 0;
	width: 100%;
	max-width: 1140px;
}

/* ------------------------------
HEADER
------------------------------ */

header {
	display: flex;
	position: sticky;
	top: 0;
	margin: 0;
	padding: 30px 0 10px;
	flex-direction: row;
	align-items: center;
	width: 100%;
	background: rgba(255,255,255,.85);
	border-bottom: solid 1px rgba(0,0,0,.075);
}

header .container {justify-content: space-between;}

h1#header-logo {
	margin:0;
	padding: 0 20px;
	display: flex;
	font-size: 21px;
	line-height: 40px;
	font-weight: 600;
	text-transform: uppercase;
}

h1#header-logo a {color: #4a4e4f;}
h1#header-logo a:hover {color: #0288b9;}
nav {display: flex;}

.header-nav {
	margin: 0;
	padding: 0;
	height: 100%;
	display: flex;
	flex-grow: 1;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	list-style: none;
}

.header-nav li {
	display: inherit;
	margin: 0;
	padding: 0 10px;
	height: 100%;
	width: auto;
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
}

.header-nav li a {
	display: inherit;
	align-items: center;
	padding: 0 10px;
	height: 100%;
	color: #4a4e4f;
}

.header-nav li a:hover {color: #0288b9; text-decoration: underline;}
.nav-social-icons img {width: 32px;}

/* ------------------------------
HERO / TITLE
------------------------------ */

.hero, .title {
	margin: 0;
	padding: 40px 20px 20px;
	width: calc(100% - 40px);
	text-align: center;
}

.hero .tagline {
	margin: 0 auto;
	width: 100%;
	max-width: 760px;
	font-size: 22px;
	font-weight: 400;
}

.hero .tagline strong {font-weight: 600;}
.hero-logo {width: 160px; height: auto; margin: 0 0 30px;}

.page-title {
	margin: 0 0;
	width: 100%;
	text-align: center;
	font-size: 42px;
}

/* ------------------------------
CONTENT
------------------------------ */

.index-content, .content {
	margin: 0;
	padding: 20px 0 50px;
	display: flex;
	/* grid-template-columns: repeat(2, 50%);
  grid-template-rows: 460px;  */
	/* gap: 0; */
}

.index-content .container {flex-flow: row wrap;}
.content .container {flex-flow: column nowrap;}

.port-thumb {
	display: flex;
	margin: 5px;
	width: calc(50% - 10px);
}

.port-thumb * {display: inherit; flex-direction: inherit;}

.port-thumb a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
	padding: 30px;
	background: #e6e6e6;
}

.port-thumb a:hover {background: #999c9d;}

.port-thumb a .port-thumb-img {
	display: flex;
	width: 100%;
	height: auto;
}


/* ------------------------------
FOOTER
------------------------------ */

footer {
	margin: 0;
	background: #dcf2f5;
	text-align: center;
}

footer p {margin: 0; padding: 7px 0; font-size: 11px; line-height:30px;}

/* ------------------------------
MEDIA QUERIES
------------------------------ */

@media (min-width: 992px) {

}

@media screen and (max-width: 768px) {
	.port-thumb {width: calc(100% - 10px);}
}

@media (max-width: 414px) {
	header {padding: 10px 0;}
	h1#header-logo {display: none;}
	nav {width: 100%;}
	.hero .tagline {font-size: 16px}
}